---
import { Search } from 'lucide-astro';
import { projects } from '@/data/projects';
---

<section id="projects" class="my-16 md:my-20">
  <div class="mx-auto max-w-4xl px-4">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {
        projects.map((project) => (
          <div class="mx-auto max-w-96 rounded-md border border-secondary shadow-md transition-all hover:scale-[1.01] hover:shadow-lg md:max-w-full">
            <div class="relative">
              <img
                src={project.image}
                alt={project.title}
                class="h-48 w-full rounded-t-lg object-cover md:h-60"
              />
              <div class="absolute right-4 top-4 rounded-full bg-secondary md:right-6 md:top-6">
                <span class="rounded-full px-2 py-0.5 text-xs font-medium md:px-3 md:py-1">
                  {project.year}
                </span>
              </div>
            </div>
            <div class="p-4 md:p-6">
              <h3 class="mb-2 text-lg font-bold md:text-xl">{project.title}</h3>
              <p class="mb-3 line-clamp-3 text-sm md:mb-4 md:text-base">{project.description}</p>
              <div class="mb-3 flex flex-wrap gap-1.5 md:mb-4 md:gap-2">
                {project.tags.map((tag) => (
                  <span class="rounded-full bg-secondary px-2 py-0.5 text-xs md:px-3 md:py-1 md:text-sm">
                    {tag}
                  </span>
                ))}
              </div>
              <div class="flex justify-end">
                <a
                  href={`/project/${projects.indexOf(project)}`}
                  class="inline-flex items-center justify-center gap-1 rounded-md bg-accent px-2 py-2 text-right text-sm font-medium text-white hover:opacity-80"
                >
                  <Search class="h-4 w-4" />
                  詳細を見る
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
