---
const experiences = [
  {
    title: 'フロントエンドエンジニア',
    company: '株式会社Y’s',
    location: '東京',
    period: '2022年11月 - 現在',
    description:
      '大規模なSPAの開発だああああああああああああああああああああああああああああああああああああああああああああああ',
    skills: ['TypeScript', 'React', 'Redux', 'Stroybook', 'Cypress', 'Jest', 'Webpack'],
  },
  {
    title: '大学卒業後からエンジニアになるまで',
    company: '日本大学文理学部体育学科',
    location: '東京',
    period: '2022年3月 - 2022年10月',
    description:
      '大学卒業後、ファッション業界での自分の夢を追いかけるためにUNIQLOでアルバイトしていました。その中で大学在学中から続けていたプログラミングを使って仕事をしたいと思い、就職活動をしました。',
    skills: ['JavaScript', 'TypeScript', 'React'],
  },
];
---

<section id="experience" class="bg-background">
  <div class="mx-auto max-w-4xl px-4">
    <h2 class="mb-6 inline-block border-b-4 border-accent text-2xl font-bold lg:text-3xl">
      Career
    </h2>
    <div class="border-l-2 border-secondary pl-4">
      {
        experiences.map((exp) => (
          <div class="flex flex-col gap-1 [&:not(:last-child)]:mb-6">
            <p class="text-xs md:text-sm">{exp.period}</p>
            <div class="rounded-md border border-secondary p-4 shadow-md md:col-span-4 md:p-5">
              <h3 class="text-lg font-bold md:text-xl">{exp.title}</h3>
              <div class="mb-2 flex flex-wrap items-center gap-x-3 gap-y-1 md:gap-x-4 md:gap-y-2">
                <p class="text-sm font-medium md:text-base">{exp.company}</p>
                <p class="text-xs md:text-sm">{exp.location}</p>
              </div>
              <p class="mb-3 text-sm md:mb-4 md:text-base">{exp.description}</p>
              <div class="flex flex-wrap gap-1.5 md:gap-2">
                {exp.skills.map((skill) => (
                  <span class="rounded-full bg-secondary px-2 py-0.5 text-xs md:px-3 md:py-1 md:text-sm">
                    {skill}
                  </span>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
