---
const currentYear = new Date().getFullYear();

const socialLinks = [
  {
    url: 'https://x.com/komo_oooo',
    logo: '/src/assets/x-logo.png',
    alt: 'X アカウント',
    size: 15,
  },
  {
    url: 'https://github.com/komo-o',
    logo: '/src/assets/github-logo.png',
    alt: 'GitHub アカウント',
    size: 20,
  },
  {
    url: 'https://qiita.com/komo-o',
    logo: '/src/assets/qiita-logo.png',
    alt: 'Qiita アカウント',
    size: 20,
  },
  {
    url: 'https://zenn.dev/kotaro_k',
    logo: '/src/assets/zenn-logo.svg',
    alt: 'Zenn アカウント',
    size: 20,
  },
];
---

<footer class="py-6">
  <div class="mx-auto flex max-w-6xl flex-col justify-center gap-4 px-4">
    <div class="flex items-center justify-center gap-2">
      {
        socialLinks.map((link) => (
          <div class="flex h-8 w-8 items-center justify-center rounded-full bg-secondary">
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex h-full w-full items-center justify-center rounded-full"
            >
              <img src={link.logo} alt={link.alt} height={link.size} width={link.size} />
            </a>
          </div>
        ))
      }
    </div>
    <p class="text-muted-foreground text-center text-sm opacity-50 md:text-base">
      © {currentYear} Komo Portfolio.
    </p>
  </div>
</footer>
