---
import ThemedImage from '@/components/common/ThemedImage';

const socialLinks = [
  {
    url: 'https://x.com/komo_oooo',
    lightThemeImageSrc: '/src/assets/x-icon-light.png',
    darkThemeImageSrc: '/src/assets/x-icon-dark.png',
    alt: 'X アカウント',
    size: '15',
  },
  {
    url: 'https://github.com/komo-o',
    lightThemeImageSrc: '/src/assets/github-icon-light.png',
    darkThemeImageSrc: '/src/assets/github-icon-dark.png',
    alt: 'GitHub アカウント',
    size: '20',
  },
  {
    url: 'https://qiita.com/komo-o',
    lightThemeImageSrc: '/src/assets/qiita-icon.png',
    darkThemeImageSrc: '/src/assets/qiita-icon.png',
    alt: 'Qiita アカウント',
    size: '20',
  },
  {
    url: 'https://zenn.dev/kotaro_k',
    lightThemeImageSrc: '/src/assets/zenn-icon.svg',
    darkThemeImageSrc: '/src/assets/zenn-icon.svg',
    alt: 'Zenn アカウント',
    size: '20',
  },
];
---

<footer class="pb-5">
  <div class="mx-auto flex max-w-4xl flex-col justify-center gap-4 px-4">
    <div class="flex items-center justify-center gap-2">
      {
        socialLinks.map((link) => (
          <div class="flex h-8 w-8 items-center justify-center rounded-full bg-secondary">
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex h-full w-full items-center justify-center rounded-full"
            >
              <ThemedImage
                client:load
                lightThemeImageSrc={link.lightThemeImageSrc}
                darkThemeImageSrc={link.darkThemeImageSrc}
                alt={link.alt}
                height={link.size}
                width={link.size}
              />
            </a>
          </div>
        ))
      }
    </div>
    <p class="text-muted-foreground text-center text-sm opacity-50">
      © {new Date().getFullYear()} Komo Portfolio.
    </p>
  </div>
</footer>
