---
import lightXIcon from '@/assets/x-icon-light.png';
import darkXIcon from '@/assets/x-icon-dark.png';
import lightGitHubIcon from '@/assets/github-icon-light.png';
import darkGitHubIcon from '@/assets/github-icon-dark.png';
import QiitaIcon from '@/assets/qiita-icon.png';
import lightZennIcon from '@/assets/zenn-icon.svg';
import darkZennIcon from '@/assets/zenn-icon.svg';
import ThemedImage from '@/components/common/ThemedImage.astro';

const socialLinks = [
  {
    url: 'https://x.com/komo_oooo',
    lightImageSrc: lightXIcon,
    darkImageSrc: darkXIcon,
    alt: 'X アカウント',
    size: 16,
    class: 'h-4 w-4',
  },
  {
    url: 'https://github.com/komo-o',
    lightImageSrc: lightGitHubIcon,
    darkImageSrc: darkGitHubIcon,
    alt: 'GitHub アカウント',
    size: 20,
    class: 'h-5 w-5',
  },
  {
    url: 'https://qiita.com/komo-o',
    lightImageSrc: QiitaIcon,
    darkImageSrc: QiitaIcon,
    alt: 'Qiita アカウント',
    size: 20,
    class: 'h-5 w-5',
  },
  {
    url: 'https://zenn.dev/kotaro_k',
    lightImageSrc: lightZennIcon,
    darkImageSrc: darkZennIcon,
    alt: 'Zenn アカウント',
    size: 20,
    class: 'h-5 w-5',
  },
];
---

<footer class="pb-5">
  <div class="mx-auto flex max-w-4xl flex-col justify-center gap-4 px-4">
    <div class="flex items-center justify-center gap-2">
      {
        socialLinks.map((link) => (
          <div class="flex h-8 w-8 items-center justify-center rounded-full bg-secondary">
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex h-full w-full items-center justify-center rounded-full hover:opacity-80"
            >
              <ThemedImage
                lightImageSrc={link.lightImageSrc}
                darkImageSrc={link.darkImageSrc}
                alt={link.alt}
                heightPx={link.size}
                widthPx={link.size}
                class={link.class}
              />
            </a>
          </div>
        ))
      }
    </div>
    <p class="text-muted-foreground text-center text-sm opacity-50">
      © {new Date().getFullYear()} Komo Portfolio.
    </p>
  </div>
</footer>
